<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat SD</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form id="chat">
        <input class="input-Name" id="inputName" type="text" name="username" placeholder="Digite seu usuário">
        <div class="messages"></div>
        <input class="input-msg" type="text" name="message" placeholder="Digite sua mensagem">
        <button type="submit">Enviar</button>
    </form>

    <script type="text/javascript">
        const host = '<%= host %>';
        const port = '<%= port %>';
        var socket = io.connect(`http://${host}:${port}`);
        let count = 0;

        function renderMessages(message) {
            $('.messages').append(`<div class="message">
                    <div  class="userMessage">
                        <div>
                            <strong>${message.author}</strong> 
                            </br>
                            ${message.message} 
                            </br>
                            <div style="text-align: right;">
                                <span class="dateTime">${message.dateTime}</span>
                            </div>
                        </div>
                    </div>
                </div>`);
        }

        socket.on('previousMessages', function (messages) {
            for (message of messages) {
                renderMessages(message);
            }
        })

        socket.on('receivedMessage', function (messages) {
            renderMessages(messages[messages.length - 1]);
        })

        $('#chat').submit(function (event) {
            event.preventDefault();

            if(count === 0) {
                var inputName = $('#inputName');
                var author = inputName.val();
                var message = $('input[name=message]').val();
                const date = new Date();
                const day = date.getDate();
                const month = date.getMonth() + 1;
                const year = date.getFullYear();
                const hours = date.getHours();
                const minutes = date.getMinutes();

                if (author.length && message.length) {
                    var messageObj = {
                        author: author,
                        message: message,
                        dateTime: 
                        `${('0' + day).slice(-2)}/${('0' + month).slice(-2)}/${year} às ${('0' + hours).slice(-2)}:${('0' + minutes).slice(-2)}`
                    };

                    localStorage.setItem('author', author);

                    renderMessages(messageObj);

                    socket.emit('sendMessage', messageObj);

                    $('input[name=message]').val('');
                
                }
                count ++;
            }

            var inputName = document.getElementById('inputName');
            var author = localStorage.getItem('author');
            if(author) {
                inputName.classList.add('escondido');
            } else {
                inputName.classList.remove('escondido');
            }

            var message = $('input[name=message]').val();
            const date = new Date();
            const day = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            const hours = date.getHours();
            const minutes = date.getMinutes();

            if (author.length && message.length) {
                var messageObj = {
                    author: author,
                    message: message,
                    dateTime: 
                    `${('0' + day).slice(-2)}/${('0' + month).slice(-2)}/${year} às ${('0' + hours).slice(-2)}:${('0' + minutes).slice(-2)}`
                };

                renderMessages(messageObj);

                socket.emit('sendMessage', messageObj);

                $('input[name=message]').val('');
            
            }

            count ++;
        })
    </script>
</body>
</html>