html, body {
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
  }
  
  input {
    width: 60vw;
    border: 1px solid #ddd;
    height: 5vw;
    padding: 0 2vw;
  }

  .input-Name {
    width: 60vw;
    border: 1px solid #ddd;
    height: 5vw;
    padding: 0 2vw;
    display: flex;
  }

  .input-Name.escondido {
    width: 60vw;
    border: 1px solid #ddd;
    height: 5vw;
    padding: 0 2vw;
    display: none;
  }
  
  button {
    width: 60vw;
    height: 5vw;
    font-size: 1.5vw;
    background: #069;
    text-align: center;
    line-height: 5vw;
    font-weight: bold;
    color: #FFF;
    margin-top: 1vw;
    border: none;
  }
  
  .messages {
    overflow-y: auto;
    max-height: 40vw;
    width: 60vw;
    height: 40vw;
    margin: 2vw 0;
    border: 1px solid #ddd;
  }

  .userMessage{
    display: flex;
    width: max-content;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1vw;
    margin: 1vw;
  }

  .dateTime{
    font-size: 0.8vw;
    color: grey;
  }

  @media screen and (max-width: 990px) {
    input,
    button,
    .messages {
      width: 90%;
    }
  
    input,
    input-msg,
    button {
      height: 2rem;
      font-size: 1rem;
    }
  
    .messages {
      height: 60%;
    }
  }